﻿<div class="panel panel-default">
    <div class="panel-heading"><h3>Musicians</h3></div>
    <div class="panel-body">
        <div>
            <div class="form-group-sm row" *ngIf="showFilters">
                <div class="col-sm-2">
                    <input [(ngModel)]="name" type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col-sm-2">
                    <input [(ngModel)]="genre" type="text" class="form-control" placeholder="Genre">
                </div>
                <div class="col-sm-2">
                    <input [(ngModel)]="minAge" type="text" class="form-control" placeholder="Min. age">
                </div>
                <div class="col-sm-2">
                    <input [(ngModel)]="maxAge" type="text" class="form-control" placeholder="Max. age">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary" (click)="filter()">Submit</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-link" (click)="showFilters = false">Hide filters</button>
                </div>
            </div>
            <div class="row" *ngIf="!showFilters">
                <div class="col-sm-2 col-sm-offset-10">
                    <button class="btn btn-link" (click)="showFilters = true">Show filters</button>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Career start year</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items" (click)="showAlbums(item.id)" class="pointer">
                    <td>{{item.name}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.careerStartYear}}</td>
                    <td>{{item.genre}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
