﻿<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 class="modal-title">{{title || 'Confirm'}}</h4>
        </div>
        <div class="modal-body">
            <div class="row" *ngIf="showFilters">
                <div class="form-group-sm row col-sm-10">
                    <div class="col-sm-4">
                        <input [(ngModel)]="name" type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-sm-4 checkbox" style="margin-top: 5px">
                        <label><input [(ngModel)]="favoritesOnly" type="checkbox">Favorites only</label>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary" (click)="filter()">Submit</button>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-link" (click)="showFilters = false">Hide filters</button>
                </div>
            </div>
            <div class="row" *ngIf="!showFilters">
                <div class="col-sm-2 col-sm-offset-9">
                    <button class="btn btn-link" (click)="showFilters = true">Show filters</button>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Duration</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td>
                            <button class="btn btn-default" *ngIf="!item.isListened" (click)="listen(item.id)"><i class="fas fa-play"></i></button>
                            <button class="btn btn-default faded" disabled *ngIf="item.isListened" title="That track has already been listened. Reset plays to enable it again."><i class="fas fa-play"></i></button>
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.duration}}</td>
                        <td>
                            <i class="fas fa-heart pointer" *ngIf="item.isLiked" (click)="like(item.id)"></i>
                            <i class="far fa-heart pointer" *ngIf="!item.isLiked" (click)="like(item.id)"></i>
                            <i>{{item.rating}}</i>
                        </td>
                        <td>
                            <i class="fas fa-star pointer" *ngIf="item.isFavorite" (click)="addToFavorites(item.id)" title="Delete From Favorites"></i>
                            <i class="far fa-star pointer" *ngIf="!item.isFavorite" (click)="addToFavorites(item.id)" title="Add To Favorites"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="resetPlays()">Reset plays</button>
            <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        </div>
    </div>
</div>