﻿
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 class="modal-title">{{title || 'Confirm'}}</h4>
        </div>
        <div class="modal-body">
            <div>
                <div class="row" *ngIf="showFilters">
                    <div class="form-group-sm row col-sm-10">
                        <div class="col-sm-3">
                            <input [(ngModel)]="name" type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-sm-3">
                            <input [(ngModel)]="minYear" type="text" class="form-control" placeholder="Min. year">
                        </div>
                        <div class="col-sm-3">
                            <input [(ngModel)]="maxYear" type="text" class="form-control" placeholder="Max. year">
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary" (click)="filter()">Submit</button>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-link" (click)="showFilters = false">Hide filters</button>
                    </div>
                </div>
                <div class="row" *ngIf="!showFilters">
                    <div class="col-sm-2 col-sm-offset-9">
                        <button class="btn btn-link" (click)="showFilters = true">Show filters</button>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Release year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items" (click)="showTracks(item.id)" class="pointer">
                        <td>{{item.name}}</td>
                        <td>{{item.releaseYear}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        </div>
    </div>
</div>